# Base de datos
POSTGRES_DB=association_core
POSTGRES_USER=admin
POSTGRES_PASSWORD=pajaro

# Conectar la DDBB con la APP
DATABASE_URL=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}