# Base de datos
POSTGRES_DB=cambiar
POSTGRES_USER=cambiar
POSTGRES_PASSWORD=cambiar
DOMINIO=localhost
PUERTO_DOMINIO=5433

# Conectar la DDBB con la APP
DATABASE_URL=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@{DOMINIO}:{PUERTO_DOMINIO}/${POSTGRES_DB}